.App{
    h1{
        color: chocolate;
    }
    form{
        background-color: antiquewhite;
        padding: 60px 3rem;
        input{
            display: block;
            margin: 20px 1rem;
        }
    }
}